h1, h2 {
    margin: 0;

    a {
        color: black !important;
        text-decoration: none;
    }
}

.status {
    display: flex;
    flex-direction: row;

    .statusDescription {
        flex-grow: 1;
    }

    .eta {
        padding-right: 0.5em;
    }
}

.errors {
    background: #FDD;
    padding: 10px;

    border: 1px solid #F99;
    border-radius: 4px;

    p {
        margin: 4px 0;
    }
}

app-dom-image {
    margin-top: 20px;
    display: block;
}

.container {
    background: white;
    
    width: 1020px;

    display: flex;
    flex-direction: column;

    font-family: 'Itim', sans-serif;

    position: relative;

    .fineprint {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-family: 'Carter One', monospace;
        font-size: 14px;
    }

    .titleRow {
        display: flex;
        flex-direction: row;
        height: 80px;

        .icon {
            flex-grow: 0;
            flex-shrink: 0;

            width: 80px;

            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .usernameContainer {
            flex-grow: 1;
            flex-shrink: 0;

            .username {
                font-size: 30px;
                font-weight: 300;
                font-family: 'Rowdies';
            }

            .bakaRank {
                display: flex;

                .bakaRankName {
                    font-size: 30px;
                    font-weight: normal;
                    font-family: 'Carter One';
                }

                .bakaRankCaptionContainer {
                    position: relative;
                }

                .bakaRankCaption {
                    position: absolute;
                    margin-left: 10px;
                    font-size: 16px;
                    height: 3em;

                    overflow: hidden;

                    width: fit-content;

                    .measurement {
                        white-space: nowrap;
                        opacity: 0;

                        width: fit-content;
                    }

                    .visible {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 40%;
                    }
                }
            }
        }

        .bakaScoreContainer {
            flex-grow: 0;
            flex-shrink: 1;
            text-align: center;

            .bakaScoreTitle {
                font-size: 16px;
            }

            .bakaScore {
                font-size: 40px;
                font-weight: 700;
                font-family: 'Gajraj One';
            }
        }
    }
}

.renderedImage {
    display: block;
    margin: auto;
    max-width: 100%;
}

.sharing {
    display: flex;
    flex-direction: row;

    margin: -4px;

    > * {
        flex: 1;
    }

    a {
        display: block;
        text-decoration: none;
        color: black;
        height: 3rem;
        line-height: 3rem;

        margin: 4px;

        text-align: center;

        border: 1px solid black;

        &:hover {
            background: grey;
        }
    }
}