.hero {
    position: relative;
    min-height: 100vh;

    .inner {
        position: absolute;

        z-index: 0;
    
        top: 50%;
        left: 0;
        right: 0;

        transform: translateY(-50%);

        text-align: center;
    }

    .halftone::after {
        mask-image: linear-gradient(3deg, black, transparent 40%, transparent 80%, black),
            linear-gradient(40deg, black, transparent 30%, transparent 70%, black),
            linear-gradient(80deg, black, transparent 20%, transparent 80%, black);
    }
}

form {
    margin: auto;
    width: 300px;
    max-width: 90vw;

    > * {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
    }
}

.contentContainer {
    position: relative;

    padding-top: 100px;

    .halftone::after {
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 90%), transparent 200px, transparent),
            radial-gradient(circle at center, black, transparent 150px),
            radial-gradient(circle at center, black, transparent 150px),
            linear-gradient(to right, black calc(50% - 800px), transparent calc(50% - 650px), transparent calc(50% + 650px), black calc(50% + 800px));

        mask-position: 0 0, -700px 0px, 700px 110px;
        mask-size: 100% 100%, 100% 220px, 100% 220px;
        //mask-repeat: no-repeat;
        mask-repeat: no-repeat, repeat-y, repeat-y;
    }
}


// Adapted from https://css-irl.info/css-halftone-patterns/
.halftone {
    --min-dot-size: 0.3px;
    --max-dot-size: 9px;
    --dot-spacing: 19px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    z-index: -1;

    background: white;
    filter: contrast(50);

    &::after {
        content: ' ';

        background-image: radial-gradient(
            circle at center,
            black var(--min-dot-size),
            transparent var(--max-dot-size)
        ), radial-gradient(
            circle at center,
            black var(--min-dot-size),
            transparent var(--max-dot-size)
        );
        background-size: var(--dot-spacing) var(--dot-spacing);
        background-position: 0 0, calc(var(--dot-spacing) / 2) calc(var(--dot-spacing) / 2);
        background-attachment: fixed;
        
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}