.container {
    position: relative;

    height: 115px;
}

.icon {
    position: absolute;

    left: 5px;
    top: 5px;

    width: 80px;
    height: 80px;

    border: 1px solid black;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.name {
    display: block;
    position: absolute;
    
    margin: 0;
    padding: 0;

    left: 90px;
    right: 90px;
    top: 2px;
    height: 25px;

    font-size: 20px;
}

.description {
    position: absolute;

    left: 90px;
    top: 30px;
    right: 90px;

    font-size: 14px;
}

.reason {
    position: absolute;

    left: 5px;
    top: 92px;
    bottom: 0;
    right: 0;

    overflow: hidden;

    font-size: 12px;
}

.contributingAnime {
    position: absolute;
    
    top: 0px;
    height: 85px;
    right: 5px;
    width: 80px;

    display: flex;
    flex-flow: column wrap-reverse;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 0;

    overflow: hidden;

    .thumbnail {
        flex: none;

        height: 44px;
        width: 26px;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.container.columns-2 {
    .icon {    
        width: 116px;
        height: 116px;
    }

    .name {
        left: 125px;
        right: 250px;
    }
    
    .description {
        position: absolute;
    
        left: 125px;
        top: 30px;
        right: 250px;
    }
    
    .reason {
        position: absolute;
    
        left: 125px;
        top: 92px;
        right: 250px;
    }

    .contributingAnime {
        height: 116px;
        width: 238px;
    
        .thumbnail {
            flex: none;
    
            height: 58px;
            width: 34px;
    
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}