app-panel-outlines {
    // position: absolute;
}
.panel-grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 115px);
    grid-gap: 10px;

    .panel {
        position: relative;
        border: 1px solid black;
        border-radius: 2px;
    }
}