app-panel-outlines {
    position: absolute;
    z-index: 1;
}

.panel-grid {
    position: relative;
    display: grid;
    margin: 5px;
    margin-bottom: 10px;
    grid-auto-columns: 500px;
    grid-auto-rows: 130px;
    grid-gap: 10px;

    z-index: 0;

    .panel {
        position: relative;
        border-radius: 2px;
    }
}