<div
    class="panel-grid"
    [ngStyle]="{
        '--columns': columns,
        '--rows': rows
    }"
>
    <div
        *ngFor="let panel of panelLayout"
        class="panel"
        [ngStyle]="{
            'grid-column-start': panel.position.startColumn + 1,
            'grid-column-end': panel.position.endColumn + 1,
            'grid-row-start': panel.position.startRow + 1,
            'grid-row-end': panel.position.endRow + 1
        }"
    >
        <div [ngSwitch]="getPanelType(panel)">
            <app-unpopular-score-panel *ngSwitchCase="'unpopular-score'" [panel]="$any(panel.panel)" [size]="panel.size"></app-unpopular-score-panel>
            <app-special-award-panel *ngSwitchCase="'special-award'" [panel]="$any(panel.panel)"></app-special-award-panel>
        </div>
    </div>
</div>